body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
/* Adicione estilos CSS aqui, se necessário */
 header {
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-height: 50px; /* Ajuste a altura conforme necessário */
}
.cadastre-button {
    background: linear-gradient(to bottom, #e1dff5, #C1B7FF);
    color: rgb(24, 24, 24);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.section {
    flex: 1;
    padding: 20px; /* Apenas para visualização */
    display: flex;
    align-items: center;
}
.image-container {
    width: 150px; /* Largura fixa para o contêiner da imagem */
    padding-right: 20px;
}
.image-container img {
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    max-height: 100%;
}
.text-container {
    flex: 1;
    padding-left: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
}

.login{
    display: flex;
    justify-content: center;
}
.login-container {
    width: 100%;
    max-width: 300px; /* Limita a largura máxima do formulário de login */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container a {
    color: #888;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}
.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container .entrar-button {
    background: #C1B7FF;
    color: white;
}
.login-container .criar-conta-button {
    background: #f0f0f0;
    color: #333;
}
.login-container .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    color: #333;
    margin-top: 10px;
}
.login-container .social-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.description{
    display: flex;
    justify-content: center;
}
.description-container {
    width: 60%;
    max-width: 300px; /* Limita a largura máxima do contêiner de descrição */
    background: linear-gradient(to bottom, #e1dff5, #C1B7FF);
    padding: 20px;
    border-radius: 10px;
    color: rgb(24, 24, 24);
    text-align: center;
    line-height: 1.5;
    font-size: large;
}
footer {
    background-color: #C1B7FF;
    color: rgb(24, 24, 24);             
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}