body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header, .footer {
    background-color: #e0e0e0;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.header{
    font-size: 0.6rem;
    height: fit-content;
}

.header img {
    width: 16px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 5px;
}

.header h1 {
    display: inline;
}
.content {
    flex: 1;
    display: flex;
}
.aside {
    background-color: #f0f0f0;
    padding: 20px;
    flex: 0 0 15%; 
}
.aside:first-child, .aside:last-child {
    flex-basis: 20%;
}
.aside:first-child {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%; 
}
.main {
    flex: 1 1 70%;
    margin-left: 225px;
    /* padding: 20px; */
}
.logo {
    margin-bottom: 20px;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.nav li {
    padding: 10px 0;
}
.nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
}
.nav a:hover {
    background-color: #ddd;
}

.nav-bottom {
    margin-top: 180px;
}

.nav img {
    width: 16px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}
.logo img {
    width: 180px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 5px;
}

.new-post {
    max-width: 720px; /* Definindo a largura máxima do campo de postagem */
    margin: 0 auto; /* Centralizando horizontalmente */
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.post-header, .post-footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-space {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    /* Espaço reservado para o logo */
}

textarea {
    width: 97%;
    height: 90px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: none; /* Removendo a borda */
    resize: vertical;
    max-height: 150px;
}

.btn-submity {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #357ebd;
}

.icone {
    width: 25px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 5px;
}

.post-footer {
    display: flex;
    justify-content: space-between; /* Alinhando o botão à direita */
    align-items: center; /* Alinhando verticalmente ao centro */
}

.post {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username,
.user-area {
    display: inline; /* Para colocar na mesma linha */
    margin: 0;
}

.username {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.user-area {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.user-at {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.post-content {
    margin-bottom: 30px;
    margin-left: 20px;
}


.icon {
    width: 25px;
    height: 23px;
    margin-right: 50px;
}

.post-content hr {
    border: none; /* Remove a borda padrão do elemento hr */
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior com cor mais clara */
    margin: 5px 0; /* Define a margem superior e inferior */
    width: 70%; /* Define a margem superior e inferior */
}

.post-header-view {
    display: flex;
    justify-content: space-between;
}

.home-type {
    width: 13%; /* Define a largura da imagem para 50% do contêiner pai */
    height: auto;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

.container-aside     {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: #dad9d9; /* Cor de fundo para o título */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px; /* Espaço entre o título e o campo cinza */
}

.titulo h2 {
    font-size: 0.86rem; /* Tamanho da fonte reduzido */
    margin: 0;
}

.campo-cinza {
    width: 100%;/* Ajuste o tamanho conforme necessário */
    height: auto; /* Ajuste a altura conforme necessário */
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 20px; /* Ajuste o raio conforme necessário */
}

.pesquisa {
    display: flex;
    align-items: center;
    width: 100%; /* Ocupa a largura total do aside */
    margin-bottom: 10px; /* Espaço entre a pesquisa e o campo cinza */
}

.pesquisa input[type="text"] {
    width: calc(100% - 40px); /* Ocupa o restante da largura após a imagem */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pesquisa img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px; /* Espaço entre a imagem e a barra de pesquisa */
}

.imagens img {
    display: block;
    margin: 10px 15px; /* Espaçamento entre as imagens */
    width: 38%; /* Redimensiona as imagens para ocupar 100% do espaço disponível */
     /* Espaçamento entre as imagens */
}

.contas {
    display: block;
    margin: 10px 15px; /* Espaçamento entre as imagens */
    width: 90%;
}

.profile-img-mini {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username-mini {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
}

.user-area-mini {
    font-size: 9px;
    color: #666;
    margin: 0;
}

.user-at-mini {
    font-size: 7px;
    color: #999;
    margin-top: 5px;
}

.profile-container-mini {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 50%;
    
}

.follow-button {
    transform: scale(0.8);
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contas-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

